<div class="toc-mak">
    <img src="../../../media/tick.png">
    <h4 style="text-align:center">ट्रेडिंग के लिए अच्छी पुस्तकें और उपकरण</h4><br>

<b><i>1.</i></b>  इंट्राडे और स्विंग ट्रेडिंग के लिए पुस्तकें <br><br>

<a href="https://amzn.to/3T6orwh" target="_blank" title="Secrets of a Pivot Boss">Secrets of a Pivot Boss by Franklin O. Ochoa</a> <br><br>
<!-- <i>Link for readers from USA, UK, Canada, and other countries:</i> <a href="https://amzn.to/3OjoPVK" target="_blank" title="Essential English Grammar">Essential Grammar in Use - with Answers</a> <br><br> -->

<a href="https://amzn.to/436ZKof" target="_blank" title="Secrets For Profiting in Bull and Bear Markets">Secrets For Profiting in Bull and Bear Markets by Stan Weinstein</a> <br><br>
<!-- <i>Link for readers from USA, UK, Canada, and other countries:</i> <a href="https://amzn.to/3OjoPVK" target="_blank" title="Essential English Grammar">Essential Grammar in Use - with Answers</a> <br><br> -->

<a href="https://amzn.to/3P89Jnq" target="_blank" title="Trade Like a Stock Market Wizard">Trade Like a Stock Market Wizard by Mark Minervini</a> <br><br>
<!-- <i>Link for readers from USA, UK, Canada, and other countries:</i> <a href="https://amzn.to/3OjoPVK" target="_blank" title="Essential English Grammar">Essential Grammar in Use - with Answers</a> <br><br> -->

<a href="https://amzn.to/4bX2uIR" target="_blank" title="How to Make Money in Intraday Trading">How to Make Money in Intraday Trading by Ashwani Gujral</a> <br><br>
<!-- <i>Link for readers from USA, UK, Canada, and other countries:</i> <a href="https://amzn.to/3OjoPVK" target="_blank" title="Essential English Grammar">Essential Grammar in Use - with Answers</a> <br><br> -->


<b><i>2.</i></b> डेरिवेटिव्स (विकल्प और वायदा) के बारे में सीखने के लिए अच्छी किताबें <br><br>

<a href="https://amzn.to/49XOOv3" target="_blank" title="Option, futures and other derivatives">Option, futures and other derivatives by John C. Hull and Sankarshan Basu</a> <br><br>
<!-- <i>Link for readers from USA, UK, Canada, and other countries:</i> <a href="https://amzn.to/3OjoPVK" target="_blank" title="Essential English Grammar">Essential Grammar in Use - with Answers</a> <br><br> -->

<a href="https://amzn.to/3V8oIBs" target="_blank" title="Bible of Options Strategies">Bible of Options Strategies by Guy Cohen</a> <br><br>
<!-- <i>Link for readers from USA, UK, Canada, and other countries:</i> <a href="https://amzn.to/3OjoPVK" target="_blank" title="Essential English Grammar">Essential Grammar in Use - with Answers</a> <br><br> -->


<b><i>3.</i></b> ट्रेडिंग मनोविज्ञान और जोखिम प्रबंधन के लिए अच्छी पुस्तकें <br><br>

<a href="https://amzn.to/433sTjQ" target="_blank" title="Liar's Poker">Liar's Poker by Michael Lewis</a> <br><br>
<!-- <i>Link for readers from USA, UK, Canada, and other countries:</i> <a href="https://amzn.to/3OjoPVK" target="_blank" title="Essential English Grammar">Essential Grammar in Use - with Answers</a> <br><br> -->

<a href="https://amzn.to/3wKmsGv" target="_blank" title="The Intelligent Investor">The Intelligent Investor (Hindi) by Benjamin Graham</a> <br><br>
<!-- <i>Link for readers from USA, UK, Canada, and other countries:</i> <a href="https://amzn.to/3OjoPVK" target="_blank" title="Essential English Grammar">Essential Grammar in Use - with Answers</a> <br><br> -->


<b><i>4.</i></b> शेयर बाजार से जुड़ी कुछ और अच्छी पढ़ने लायक किताबें <br><br>

<a href="https://amzn.to/48Kz0e6" target="_blank" title="Market Wizards: Interviews with Top Traders">Market Wizards: Interviews with Top Traders by Jack D. Schwager</a> <br><br>
<!-- <i>Link for readers from USA, UK, Canada, and other countries:</i> <a href="https://amzn.to/3OjoPVK" target="_blank" title="Essential English Grammar">Essential Grammar in Use - with Answers</a> <br><br> -->

<a href="https://amzn.to/3Pa4CD1" target="_blank" title="Trading in the Zone">Trading in the Zone (Hindi) by Mark Douglas</a> <br><br>
<!-- <i>Link for readers from USA, UK, Canada, and other countries:</i> <a href="https://amzn.to/3OjoPVK" target="_blank" title="Essential English Grammar">Essential Grammar in Use - with Answers</a> <br><br> -->
</div>
